// 想根据 系统自定义主题变化 请使用此变量 不可修改
$default-theme: #409EFF;
$ce8: #e8e8e8;
$border-color: $ce8;
// 浅色系
$light: #fff;
// 深色系
$dark: #001529;
$navbar-height: 64px;
$sidebar-width: 256px;
// 合并宽度
$sidebar-collapse-width: 80px;
$tagViews-height: 40px;
/** 将scss暴露出去 以便js引入 **/
:export {
  defaultTheme: $default-theme;
  navbarHeight: $navbar-height;
  sidebarWidth: $sidebar-width;
  tagViewsHeight: $tagViews-height;
  sidebarCollapseWidth: $sidebar-collapse-width;
}
